$main-color:rgba(36, 149, 55, 0.934);

main{
    background: linear-gradient(to top, rgba(36, 149, 147, 0.934), rgba(61, 249, 255, 0.934));
}

.header__title{
    font-size: 4rem;
    font-weight: bold;
}