$main-color:rgba(36, 149, 55, 0.934);

main{
    background: linear-gradient(to top, rgba(192, 189, 170, 0.933), rgba(234, 187, 112, 0.934));
}

.header__title{
    font-size: 4rem;
    font-weight: bold;
}