*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
}
 
.gridConteiner{

    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

main{
    width: 100%;
}

footer{
    width: 100%;
}


/* Header */

header{
    margin: 0;
    grid-area: header;
    background-color: #FFFAFF;
}

.topHeader__logo img{
    width: 20rem;
    height: 5rem;
}

.topHeader__title{
    font-size: 54px;
    padding: 10px;
    align-self: center;
}

.topHeader{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 10px;
}

.header__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.platformAccess{
    margin: 1rem;
    padding: 1rem;
}

.platformButton{
    width: 10rem;
    height: 2rem;
    margin: 20px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(175, 173, 173);
    border-radius: 5px;
}

nav{
    grid-area: nav;
}

.navList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    background-color: #8cb6c0;
    width: 100%;
}

.nav__link{
    display: inline-block;
    color: white;
    background-color: #363838 (170, 107, 107);
    border: 2px black;
    border-style: solid;
    list-style: none;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: 3rem;
    padding: 8px;
    font-size: 20px;
}


/* Main generales */


main{
    grid-area: main;
    height: 100%;
}


/* Main index */


.mainIndex__image--img{
    width: 20rem;
    height: 20rem;
    margin: 2rem;
}

.mainIndex{
    display: flex;
    flex-direction: column;
    background-color: #C5D86D;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.mainIndex__text{
    display: grid;
    flex-direction: column;
    justify-items: center;
    padding: 2rem;
}

.mainIndex__text{
    font-size: 18px;
}

.mainIndex__text--title{
    font-size: 36px;
}


/* Main prestadores especificos */

.mainPrestadores__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C5D86D;
    padding: 4rem;
}

.textConteiner__prestadores{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 16px;
}

.mainPrestadores__img{
    width: 16rem;
    height: 16rem;
}

.mainPrestadores__title{
    font-size: 36px;
    justify-self: center;
    align-self: center;
    padding: 1.5rem;
}

.mainPrestadores__p{
    text-align: center;
    padding: 16px;
}

.mainPrestadores__ul{
    width: 50%;
    padding: 8px;
    align-self: center;
}


/* Main asociarse especificos */

.mainAsociarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C5D86D;
    padding: 4rem;
}

.mainAsociarse__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 1rem;
}

.form__asoc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


.labelAsociarse__align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelForm__asoc{
    padding: 1rem;
}

.mainAsociarse__title{
    font-size: 36px;
    padding: 1rem;
}

.formButton{
    width: 10rem;
    height: 2rem;
    margin: 20px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(175, 173, 173);
    border-radius: 5px;
}

/*  Main nosotros especificos */

.mainNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C5D86D;
    padding: 4rem;
}

.mainNosotros__hombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.mainNosotros__textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainNosotros__title{
    font-size: 28px;
    padding: 1rem;
}

.mainNosotros__img{
    width: 20rem;
    height: 15rem;
    margin: 2rem;
}

/*  Main contacto especificos */

.mainContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C5D86D;
    padding: 4rem;
}

.contactDiv{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contactDiv__title{
    font-size: 36px;
    padding: 16px;
}

.contactDiv__img{
        width: 30rem;
        height: 25rem;
        margin: 2rem;
}

.mainForm__button{
    width: 10rem;
    height: 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(175, 173, 173);
    border-radius: 5px;
    margin: 20px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 16px;
}

.labelForm__contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.labelForm__phone--contact{
    padding: 1rem;
}

.labelForm__email--contact{
    padding: 1rem;
}



/* Footer */

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f75c03b0;
    height: 100%;
    padding: 0;
}

.footerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.footerRedes img{
    width: 2rem;
    height: 2rem;
    margin: 10px;
}


/* Media Querys */

@media (min-width: 748px){
    .header__container{
        display: flex;
        flex-direction: row;
    }

    .topHeader__title{
        align-self: start;
    }

}

@media (min-width: 1024px){
    .gridConteiner{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
        width: 100%;
    }

    header{
        width: 100%;
    }

    footer{
        width: 100%;
    }


    .navList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        list-style: none;
        text-decoration: none;
        background-color: #8cb6c0;
        width: 100%;
    }

    .nav__link{
        display: flex;
        justify-content: center;
        color: white;
        background-color: #93A8AC (170, 107, 107);
        border: 2px black;
        border-style: solid;
        list-style: none;
        text-decoration: none;
        width: 20%;
    }

    .mainIndex{
        display: flex;
        flex-direction: row;
        background-color: #C5D86D;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 40rem;
    }

    .mainIndex__image--img{
        width: 30rem;
        height: 25rem;
        margin: 2rem;
        padding: 1rem;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    
    .footerText{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .footerRedes{
        display: flex;
        align-self: center;
    }

    /* Prestadores Media Querys */

    .mainPrestadores__div{
        display: flex;
        flex-direction: row;
    }

    .mainPrestadores__title{
        font-size: 36px;
        justify-self: flex-start;
        align-self: center;
        padding: 2rem;
        margin-top:0 ;
    }

    .mainPrestadores__ul{
        text-align: start;
        padding: 1rem;
        width: 100%;
    }

    .mainPrestadores__img{
        width: 32rem;
        height: 25rem;
        padding: 1rem;
    }

    /* Asociarse Media Querys */


    .labelAsociarse__align{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .labelForm__asoc{
        align-self: flex-start;
    }

    /* Nosotros Media Querys */
    
    .mainNosotros__hombre{
        display: flex;
        flex-direction: row;
    }

    .mainNosotros__hombre--2{
        display: flex;
        flex-direction: row-reverse;
    }

    .mainNosotros__img{
        width: 25rem;
        height: 20rem;
        margin: 2rem;
    }
    
    .mainNosotros__title{
        font-size: 36px;
        padding: 1rem;
    }

    .mainNosotros__p{
        padding: 10px;
        text-align: center;
    }

    /* Contacto Media Querys*/

    .labelForm__contact{
        display: flex;
        flex-direction: row;
        padding: 10px;
        height: max-content;
    }

    .inputForm__contact{
        height: max-content;
        align-self: center;
    }

}